@import url(https://db.onlinewebfonts.com/c/4d1a97eb449e4a6711e2933d11206208?family=Ubisoft+Sans+Regular);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Ubisoft Sans Regular";
    src: url("https://db.onlinewebfonts.com/t/4d1a97eb449e4a6711e2933d11206208.eot");
    src: url("https://db.onlinewebfonts.com/t/4d1a97eb449e4a6711e2933d11206208.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/4d1a97eb449e4a6711e2933d11206208.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/4d1a97eb449e4a6711e2933d11206208.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/4d1a97eb449e4a6711e2933d11206208.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/4d1a97eb449e4a6711e2933d11206208.svg#Ubisoft Sans Regular") format("svg");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubisoft Sans Regular", sans-serif;
  background-color: #121212;
  color: #ffffff;
}